<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/styles.css" rel="stylesheet"/>
</head>
<body>
<div>
    <form action="#" th:action="@{/request}" th:object="${clientRequest}" method="post" class="requestForm">
        <img id="24paylogo" src="24pay.png" alt="logo" class="logo"/>
        <input type="text" name="Amount" pattern="[0-9,]+\.[0-9][0-9]" placeholder="0.00" th:field="*{amount}"/>
        <input type="submit" th:value="#{request.submitPay}"/>
    </form>
</div>
</body>
</html>