<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Return page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:object="${payResponse}">
    <p th:signValidation="${processResult.signValidation}">Podpis <span th:text="${processResult.signValidation}"></span></p>
    <p>Transakcia: <span th:text="*{msTxnId}"></span></p>
    <p>Suma: <span th:text="*{amount}"></span></p>
    <p th:responseResult="*{result}"><span th:text="#{|response.${payResponse.result}|}"></span></p>
</div>
</body>
</html>